.app-site {
  width: 100%;
}

.app-site-section {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.app-site-section-column {
  box-sizing: border-box;
  width: 50%;
  max-width: 50%;
  padding: 0 30px;
}

.chart-title {
  text-align: center;
  margin: 12px 0;
}
