@mixin font-family($font-name, $font-weight, $font-style, $font-url, $font-file) {
  @font-face {
    font-family: '#{$font-name}';
    src: url('#{$font-url}#{$font-file}.ttf') format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include font-family('lato', 700, normal, '~/assets/fonts/Lato/', 'Lato-Black');
@include font-family('lato', 600, normal, '~/assets/fonts/Lato/', 'Lato-Bold');
@include font-family('lato', 500, normal, '~/assets/fonts/Lato/', 'Lato-Regular');
@include font-family('lato', 400, normal, '~/assets/fonts/Lato/', 'Lato-Light');
@include font-family('lato', 300, normal, '~/assets/fonts/Lato/', 'Lato-Thin');
