@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato-Regular, Roboto, "Helvetica Neue", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary;
}
