<nav class="side-nav">
    <ul class="side-nav-list">
        <li *ngFor="let navItem of sideNavTemplate" class="side-nav-list-item">
            <a [routerLink]="navItem.link" 
                routerLinkActive="active" 
                class="side-nav-list-item-link"
            >
                {{ navItem.label }}
            </a>
        </li>
    </ul>
</nav>