<div class="app-header" 
     fxLayout="row" 
     fxLayoutAlign="space-between center"
>
    <div class="app-header-item app-header-item--logo">
        Insert
    </div>
    <div class="app-header-nav">
        <ul fxLayout="row" class="app-header-nav-list">
            <li class="app-header-nav-list-item" [ngClass]="{'app-header-nav-list-item--active': (fragment$ | async) === 'charts'}">
                <a [routerLink]="" fragment="charts" routerLinkActive="linkActive">Wykresy</a>
            </li>
            <li class="app-header-nav-list-item" [ngClass]="{'app-header-nav-list-item--active': (fragment$ | async) === 'table'}">
                <a [routerLink]="" fragment="table">Tabela</a>
            </li>
        </ul>
    </div>
    <div class="app-header-item app-header-item--user">
        Wyloguj
    </div>
</div>