@import 'variables';

.app-header {
  border-bottom: 1px solid $separator-primary;
  height: 50px;
  padding-left: 73px;
  padding-right: 22px;
}

.app-header-nav,
.app-header-nav-list {
  height: 100%;
}

.app-header-nav-list-item {
  padding: 0 12px;
  margin: 0 26px;
  height: 100%;
  display: flex;
  align-items: center;

  &--active {
    padding-top: 2px;
    border-bottom: 2px inset $primary;
  }
}

.app-header-item {
  color: #b4b4b4;

  &--logo {
    font-size: 18px;
  }

  &--user {
    font-size: 16px;
  }
}
