<div class="filters"
     fxLayout="row" 
     fxLayoutAlign="space-between center"
>
    <div class="filters-dummy" fxFlex="1 1 0"></div>
    <div class="filters-inputs" fxFlex="1 1 0" fxLayout="column">
        <!-- https://ng-select.github.io/ng-select -->
        <div class="filters-inputs-select">
            <label for="columnsSelect"
                   class="filters-inputs-select-label"
            >Wybierz kolumny do wizualizacji
            </label>
            <ng-select
                labelForId="columnsSelect"
                [items]="filtersTemplate.tableColumns.options"
                [multiple]="true"
                [closeOnSelect]="false"
                [searchable]="false"
                bindLabel="name"
                placeholder="Wszystkie"
                [(ngModel)]="filtersTemplate.tableColumns.selectedValues"
                class="filters-input-select"
            >
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                </ng-template>
            </ng-select>
        </div>
    </div>
    <div class="filters-controls" fxFlex="1 1 0">
        <button mat-button
                class="filters-controls-cancel"
                (click)="clearModel()"
                [disabled]="!filtersTemplate.tableColumns.selectedValues.length"

        >Resetuj filtry
        </button>
        <button mat-flat-button 
                class="filters-controls-action"
                (click)="applyFilters()"
        >POKAŻ
        </button>
    </div>
</div>