@import 'variables';

.filters {
  height: 150px;
  background-color: #f5f5f5;
}

.filters-controls-cancel {
  color: #b1b1b1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-size: 14px;
}

.filters-controls-action {
  color: #fff;
  background-color: $primary;
  width: 197px;
  font-size: 14px;
}

.filters-inputs-select {
  width: 197px;
  position: relative;
}

.filters-inputs-select-label {
  font-size: 13px;
  position: absolute;
  top: -23px;
}

::ng-deep .filters-inputs-select .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-bottom: 0;
  padding-left: 10px;
}

::ng-deep .filters-inputs-select .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  padding-top: 0;
  top: unset;
  color: #000;
}
