<div class="app-site">
        <app-filters (filtersChanged)="applyFilters()"></app-filters>
        <ng-container *ngIf="siteTemplate$ | async as siteTemplate; else loading">
        <div class="app-site-section">
            <div class="app-site-section-column" id="charts">
                <app-linear-chart *ngFor="let record of siteTemplate.chartsData.records" 
                                  [categories]="siteTemplate.chartsData.categories" 
                                  [chartData]="record"
                ></app-linear-chart>
            </div>
            <div class="app-site-section-column">
                <app-pie-chart *ngFor="let record of siteTemplate.chartsData.records" 
                               [categories]="siteTemplate.chartsData.categories"
                               [chartData]="record"
                ></app-pie-chart>
            </div>
        </div>
        <div fxLayout="row"
            fxLayoutAlign="center"
            id="table"
            class="app-site-section"
        >
            <app-table [tableData]="siteTemplate.tableData" 
                       [dataType]="siteTemplate.dataType"
            ></app-table>
        </div>
    </ng-container>
    <ng-template #loading>
        <div fxLayout="row" 
             fxLayoutAlign="center"
             style="margin-top: 60px;">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
</div>
