@import 'variables';

.app-sidenav {
  width: 180px;
}

.app-sidenav-list {
  padding-top: 0;
}

.app-sidenav-list-link {
  font-size: 15px;
  height: 50px;

  &--active {
    border-right: 4px inset $primary;
    background-color: #ededed;
  }
}
