<div class="app">
  <app-header></app-header>
    <mat-sidenav-container > 
      <mat-sidenav #sidenav 
                   opened
                   disableClose
                   mode="side"
                   class="app-sidenav"
      >
        <mat-nav-list class="app-sidenav-list">
          <a mat-list-item 
             routerLinkActive="app-sidenav-list-link--active" 
             [routerLink]="'/asite'"
             class="app-sidenav-list-link"
          > Strona A 
          </a>
          <a mat-list-item 
             routerLinkActive="app-sidenav-list-link--active" 
             [routerLink]="'/bsite'"
             class="app-sidenav-list-link"
          > Strona B 
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <div style="height: calc( 100vh - 50px);">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
