
<mat-card>
    <p mat-title class="chart-title">Linear Chart for {{ chartData.name }}</p>
    <div id="chart">
        <apx-chart  [series]="chartOptions.series"
                    [chart]="chartOptions.chart"
                    [xaxis]="chartOptions.xaxis"
                    [yaxis]="chartOptions.yaxis"
                    [stroke]="chartOptions.stroke"
                    [markers]="chartOptions.markers"
                    [fill]="chartOptions.fill"
                    [tooltip]="chartOptions.tooltip"
                    [dataLabels]="chartOptions.dataLabels"
                    [grid]="chartOptions.grid"
        ></apx-chart>
      </div>
</mat-card>

