
<mat-card>
    <p mat-title class="chart-title">Pie Chart for {{ chartData.name }}</p>
    <div id="chart">
        <apx-chart [series]="chartOptions.series"
                   [chart]="chartOptions.chart"
                   [labels]="chartOptions.labels"
                   [responsive]="chartOptions.responsive"
                   [fill]="chartOptions.fill"
                   [legend]="chartOptions.legend"
                   [plotOptions]="chartOptions.plotOptions"
                   [dataLabels]="chartOptions.dataLabels"
        ></apx-chart>
    </div>
</mat-card>