table {
  width: 100%;
}

.mat-header-row {
  background-color: #f9fafb;
}

.mat-header-cell {
  color: #000c;
}

.app-table {
  display: block;
  width: 620px;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
    margin: 0 0 1rem 0;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0 20px;
    min-width: 120px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;

    &.cdk-column-X.mat-column-X {
      text-align: left;
    }
  }
}

.app-table-download {
  color: #b3b3b3;
  font-size: 13px;
  margin-left: 12px;
}

.app-table-download-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.mat-paginator {
  background: transparent;
  color: #b3b3b3;
}

// consider doing it by first child
::ng-deep .mat-header-cell .mat-sort-header-container {
  justify-content: center;
}

::ng-deep .mat-header-cell.cdk-column-X.mat-column-X .mat-sort-header-container {
  justify-content: left;
}
