<div class="app-table mat-elevation-z8 table-responsive">
    <mat-table [dataSource]="dataSource" matSort>
        <ng-container *ngFor="let header of tableData.headers" [matColumnDef]="header">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{header}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row[header]}} </mat-cell>
        </ng-container>
  
      <mat-header-row *matHeaderRowDef="tableData.headers"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableData.headers;"></mat-row>
    </mat-table>
  </div>
  <div fxLayout="row" 
       fxLayoutAlign="space-between center"
  >
      <a fxLayout="row" 
         fxLayoutAlign="center center" 
         class="app-table-download" 
         [href]="'assets/data/data' + dataType + '.csv'" 
         target="_blank"
      >
        Pobierz CSV 
        <mat-icon class="app-table-download-icon">download</mat-icon>
      </a>
      <mat-paginator pageSize="5"></mat-paginator>
  </div>